# =============================================================================
# General
# =============================================================================
.DS_Store
.env
.env.*
!.env.example
*.log
tmp/
temp/

# =============================================================================
# Editors
# =============================================================================
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~


# =============================================================================
# Go
# =============================================================================
/bin/
/vendor/
*.exe
*.test
*.out


# =============================================================================
# Docker
# =============================================================================
docker-compose.override.yml

