{% if project_type == 'library' %}{
  "name": "@jterrazz/{{ project_name }}",
  "version": "0.1.0",
  "author": "{{ author_name }} <{{ author_email }}>",
  "type": "module",
  "files": [
    "dist"
  ],
  "exports": {
    ".": {
      "require": "./dist/index.cjs",
      "import": "./dist/index.js"
    }
  },
  "publishConfig": {
    "registry": "https://registry.npmjs.org/"
  },
  "scripts": {
    "build": "typescript build --lib",
    "test": "vitest --run",
    "lint": "codestyle",
    "lint:fix": "codestyle --fix"
  },
  "devDependencies": {
    "@jterrazz/codestyle": "latest",
    "@jterrazz/typescript": "latest",
    "@types/node": "latest",
    "vitest": "latest"
  }
}
{% elif project_type == 'api' %}{
  "name": "{{ project_name }}",
  "version": "0.1.0",
  "author": "{{ author_name }} <{{ author_email }}>",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "typescript watch",
    "build": "typescript build --app",
    "test": "vitest --run",
    "lint": "codestyle",
    "lint:fix": "codestyle --fix"
  },
  "dependencies": {
    "hono": "latest",
    "zod": "latest"
  },
  "devDependencies": {
    "@jterrazz/codestyle": "latest",
    "@jterrazz/typescript": "latest",
    "@types/node": "latest",
    "vitest": "latest"
  }
}
{% elif project_type == 'web' %}{
  "name": "{{ project_name }}",
  "version": "0.1.0",
  "author": "{{ author_name }} <{{ author_email }}>",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start",
    "test": "vitest --run",
    "lint": "codestyle",
    "lint:fix": "codestyle --fix"
  },
  "dependencies": {
    "next": "latest",
    "react": "latest",
    "react-dom": "latest",
    "zod": "latest"
  },
  "devDependencies": {
    "@jterrazz/codestyle": "latest",
    "@jterrazz/typescript": "latest",
    "@types/node": "latest",
    "@types/react": "latest",
    "@types/react-dom": "latest",
    "vitest": "latest"
  }
}
{% elif project_type == 'cli' %}{
  "name": "{{ project_name }}",
  "version": "0.1.0",
  "author": "{{ author_name }} <{{ author_email }}>",
  "type": "module",
  "bin": {
    "{{ project_name }}": "./dist/index.js"
  },
  "scripts": {
    "dev": "typescript watch",
    "build": "typescript build --app",
    "test": "vitest --run",
    "lint": "codestyle",
    "lint:fix": "codestyle --fix"
  },
  "devDependencies": {
    "@jterrazz/codestyle": "latest",
    "@jterrazz/typescript": "latest",
    "@types/node": "latest",
    "vitest": "latest"
  }
}
{% endif %}
