{% if project_type == 'web' %}{
  "extends": "@jterrazz/typescript/tsconfig/next.json",
  "compilerOptions": {
    "moduleResolution": "bundler",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "include": ["next-env.d.ts", ".next/types/**/*.ts", "**/*.ts", "**/*.tsx"],
  "exclude": ["node_modules"]
}
{% elif project_type == 'mobile' %}{
  "extends": "@jterrazz/typescript/tsconfig/expo",
  "compilerOptions": {
    "paths": {
      "@/*": ["./src/*"]
    }
  }
}
{% else %}{
  "extends": "@jterrazz/typescript/tsconfig/node"
}
{% endif %}
